* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

/*
    Colors
    Teal: #005F61
    Blue Green: #00589B
    Leaf Green: #789D4A
    Cool Gray: #97999B
*/

/* Start Style from here */

/*section 3 and 4 style*/
#features,
#building{
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 0.5px solid rgb(219, 217, 217);
}

#building{
    background: url(/resources/img/img_building.jpg);
    color:white;
}